body{
    margin:0;
    padding:0;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    background-color: gray;
    width: 25px;
    height: 25px;
}