body{
    margin:0;
    padding:0;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    background-color: gray;
}

#gridsize{
    margin: 16px;
    padding: 4px;
}